:root {
  --primary: #00a8e8;
  --secondary: #4CAF50;
  --background: #0a192f;
  --text: #ccd6f6;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: 'Roboto Mono', monospace;
}